body{
  margin: 0;
  box-sizing: border-box;
}
html{
  font-size: 16px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header{
  background-color: rgb(58, 58, 173);
  padding: 2rem;
}

.logo{
  color: rgb(250, 247, 234);
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
}

.addMenu{
  color: #fff;
  text-align: center;
  margin-top: 1.2rem;
}

.addMenu input{
  width: 18rem;
  height: 2rem;
}
.addMenu button{
  background-color: rgb(5, 202, 202);
  padding: .5rem;
  width: 6rem;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  font-weight: bolder;
  border: none;
  border-radius: 2px;
  margin-left: 1rem;
}

section{
  width: 100vw;
  height: auto;
  display: flex;
  gap: 2rem;
}

.task-container{
  background-color: aquamarine;
  width: 80%;
  height: 10rem;
}

.plus{
  background-color: blue;
  width: 6rem;
  height: 2rem;
}